@import "../../colors";

.quiz {
  padding: 2vh 2vw;
  background-color: $background-color;

  display: grid;
  row-gap: 2vw;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "image"
    "choices";

  .authorImage {
    grid-area: image;
  }
}

@media all and (min-width: 768px) {
  /* start here with own css, for medium screensizes (tablets)*/
  .quiz {
    grid-template-rows: 1fr;
    gap: 0vh 2vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image choices";
  }
}

@media all and (min-width: 1024px) {
  /* start here with own css, for large screensizes (pc)*/
  .quiz {
    grid-template-columns: 1fr 2fr;
  }
}
