@import "../../theme/colors";

.header {
  height: 200px;
  padding-left: 25px;
  margin: 2vh 0;
  background-color: $header-color;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 3em;
    margin: 0;
  }

  .subtitle {
    margin: 0;
    font-size: 1.3em;
  }
}
